{% extends 'basecode.html' %}
{% block home %}active{% endblock %}
{% block body %}
<center><span class="badge badge-danger" style="width:95%;">
  <img src="/media/photo.jpg" height="100px" align="left" width="100px" alt="profile picture"><br><br><br><h1 align="right">SANSKAR JAIN</h1>

</span>
</center>
<br><br>
<div class="container">
<table class="table">
<tr>
    <th>Name :</th>
    <td> Sanskar jain</td>

    </tr>

  <tr>
    <th>Education</th>

    <td>Completed 10th(in 2014) and 12th(in 2016) from Vishwadeep senior secondary school durg<br>
      10th percentage: 83.8% <br>12th percentage: 85.8% </td>
    </tr>

    <tr><th>Technical Skills:</th>
      <td>I am good at programming in Django. <br>
    And the languages i am familiar with are: <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>C</li>
        <li>C++</li>
        <li>Java</li>
        <li>Python</li>
        <li>MYSQL</li>
        <li>MongoDB</li>
      </ol><br>
      Apart from these languages i also knew Django and made projects on this web framework of python.
      <br>Also i knew how to work with <b>Bootstrap</b> and enhance my website looks.</td>

    </tr>
    <tr><th>Current Education Status: </th>
      <td>Currently i am persuing B.E. from <b>Bhilai institute of technology, Durg in C.S.E branch.</b>(Currently in the 6th semester.)</td></tr>
    <tr><th>Languages Known :</th><td>English,Hindi</td></tr>
    <tr><th>Personal Strengths:</th> <br>
      <td>
      <ul>
      <li>I am very much patient.</li>
      <li>I have good communication skills.</li>
      <li>I can work under stress.</li>
      <li>I am always punctual.</li>
    </ul></td></tr>
    <tr><th>My Hobbies :</th>
      <td>Learning new vocabulary terms.And programming.</td> </tr>

    <tr><th>Contact Details :</th>
      <td>9340193542</td></tr>
    <tr><th>Address :</th>
      <td>Ahinsa sadan Street number 5 ,<br>Deepak Nagar<br> Durg (Chhatisgarh)</td></tr>

  <tr><th>Refrence</th>
      <td>Dr. M.V. Padmavati- "Bhilai institue of technology Durg"<br>
      HOD of CSE department in BIT durg<br>
      <b>Email: </b> hodcse@bitdurg.ac.in</td></tr>


</table>
      </div>
    <br><br>
    <center>
    <span class="badge badge-danger" style="width:95%;">
<br><h1 align="center">MY CERTIFICATES</h1>
        </span><br><br>
        <h3><u>1) NPTEL course Certification on <b>Speaking Effectively</b></u></h3><br><br>
        <img src="/media/21.jpg" height="500px" width="60%" alt="...">


        <br><hr>
        <h3><u>2) NPTEL course Certification on <b>Problem solving through programming in C</b></u></h3><br><br>
        <img src="/media/22.jpg" height="60%" style="transform:rotate(90deg);" width="500px" alt="...">

        <br>
        <hr>

        <h3><u>3) NPTEL course Certification on <b>Introduction to Internet Of Things</b></u></h3><br><br>
        <img src="/media/23.jpg" height="500px" width="60%" alt="...">

       <br><hr>
        <h3><u>4) NPTEL course Certification on <b>Cloud Computing</b></u></h3><br><br>
        <img src="/media/24.jpg" style="transform:rotate(270deg);" height="60%" width="500px" alt="...">

     <br><hr>
        <h3><u>5)Training on <b>Python</b></u></h3><br><br>
        <img src="/media/25.jpg" height="500px" width="60%" alt="...">

<hr>

    </center>

<br><br>
<center>
<span class="badge badge-danger" style="width:95%;">
<br><h1 align="center">MY PROJECTS</h1>
</span>
  </center>
 <br><br>
<center>
<div class="container">
<div class="card" style="width: 18rem;">
  <img src="/media/1.jpg" class="card-img-top" alt="..."><br>
    <hr>
  <div class="card-body">
      <h5 class="card-title"><u>Title:</u><br> Book Store</h5>
      <hr>
      <center><a href="/resume/project1" class="btn btn-warning">View</a></center>
  </div>
</div>
    <br><br>
<hr color="black"><br><br>
    <div class="card" style="width: 18rem;">
  <img src="/media/14.jpg" class="card-img-top" alt="..."><br>
    <hr>
  <div class="card-body">
      <h5 class="card-title"><u>Title:</u><br> Alumni Connect</h5>
      <hr>
      <center><a href="/resume/project2" class="btn btn-warning">View</a></center>
  </div>
</div>

</div>


    </center>
<br><br>
{% endblock %}