{% extends 'basecode.html' %}
{% block body %}

<center>
<span class="badge badge-danger" style="width:95%;">
<br><h1 align="center">PROJECT:Alumni Connect</h1>


</span><br><br>
    <div align="left" class="container"> <h3><b><u>Description:</u> </b></h3>
    <br>
    This is a website that can be used to keep track of alumnis by colleges.In this website the entities are
        <ol><li>Admin</li>
            <li>Colleges</li>
            <li>Alumni</li>
        </ol><br>
         This application have the following features:-<br>
            <br>(a) allow the Alumni members to register themselves
            <br>(b) allow colleges to verify and authenticate their registered alumni
            <br>(c) provision for alumni members to update their details
            <br>(d) allow the colleges to search details based on criteria such as year, subject, etc.
            <br>(e) allow the Directorate to search details based on criteria such as colleges, year, subject, etc.
            <br>(f) send messages and emails to alumni members
            <br>(g) create events, publish notices on the portal
            <br>(h) Security features with login for every user.
            <br>(i)Consensus page to allow alumnis to vote for the published consensus of their respective colleges.

<br><br>
        <b><h4>Github Link: </h4></b>Currently i am developing this website and so i had not uploaded this site
        in github.However i had mentioned some functionalities below:-
    </div>
    <br><br><br>

<span class="badge badge-danger" style="width:95%;">
    <br><h1 align="center"><u>PROJECT OVERVIEW</u></h1>
    <h3 style="color:black;"><u>Hompage:</u></h3>
    <img src="/media/14.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>Alumni register page</u></h3>
    <img src="/media/15.jpg" height="400px" width="90%">
    <br><br>


    <img src="/media/16.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>After clicking on send request button email will be send to their<br> respective college
        so that they can verify their alumni.Email image is:</u></h3>
    <img src="/media/17.jpg" height="400px" width="90%">
    <br><br>


    <h3 style="color:black;"><u>The alumni can view all colleges details as: </u></h3>
    <img src="/media/18.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>The alumni can vote the matters as:</u></h3>
    <img src="/media/19.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>Notice page is shown as:</u></h3>
    <img src="/media/20.jpg" height="400px" width="90%">
    <br><br>


</span><br><br>
<h4>if you want  i can  make you see my website by making my machine as temporary server.Please inform for the same.</h4>

    <br><br>
    <h2>Thank you</h2>


  </center>
 <br><br>


{% endblock %}