{% extends 'basecode.html' %}
{% block body %}
<center>
<span class="badge badge-danger" style="width:95%;">
<br><h1 align="center">PROJECT:Book store</h1>


</span><br><br>
    <div align="left" class="container"> <h3><b><u>Description:</u> </b></h3>
    <br>
    This is an e-commerce site for books.In this website the entities are <ol>
            <li>Admin</li>
            <li>Customer</li>
            <li>Employee</li>
        </ol><br>
        <h3><b>Admin Roles: </b></h3>
    <ul>
        <li>Add and delete Employees</li>
        <li>View his profile</li>
        <li>Update his profile</li>
        <li>View Orders</li>
        <li>View Feedbacks</li>
        <li>Change password</li>
        <li>View employess data</li>
        <li>Search for any product</li>
        <li>Logout</li>
    </ul><br>

    <h3>Customer Roles: </h3>
    <ul>
        <li>Signup</li>
        <li>Change password</li>
        <li>View Full Info about any product</li>
        <li>Add a product to his cart</li>
        <li>Buy a product</li>
        <li>Search for any product based on various criteria</li>
        <li>Submit Feedback</li>
        <li>Change his profile details</li>
        <li>log out</li>
    </ul>
    <br>

        <h3><b>Employee Roles: </b></h3>
        <ul>
            <li>Add a product</li>
            <li>View orders</li>
            <li>Confirm order Shipping</li>
            <li>View feedbacks</li>
            <li>View delivered orders</li>
            <li>Update or delete any product</li>
            <li>Logout</li>
        </ul>
<br>
        <b><h4>Github Link: </h4><a href="https://github.com/sanskarjain2507/Online-Book-Store.git">https://github.com/sanskarjain2507/Online-Book-Store.git</a> </b>
    </div>
    <br><br><br>

<span class="badge badge-danger" style="width:95%;">
    <br><h1 align="center"><u>PROJECT OVERVIEW</u></h1>
    <h3 style="color:black;"><u>Hompage:</u></h3>
    <img src="/media/1.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>On clicking login button</u></h3>
    <img src="/media/2.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>After login as customer</u></h3>
    <img src="/media/3.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>After clicking on view button of any product</u></h3>
    <img src="/media/4.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>After adding to cart and click on my cart</u></h3>
    <img src="/media/5.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>After checkout and placing order</u></h3>
    <img src="/media/6.jpg" height="400px" width="90%">
    <br><br>

    <h3 style="color:black;"><u>Profile page::</u></h3>
    <img src="/media/7.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>After clicking Edit button:</u></h3>
    <img src="/media/8.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>Feedback page: </u></h3>
    <img src="/media/10.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>Employee view orders as:</u></h3>
    <img src="/media/11.jpg" height="400px" width="90%">
    <br><br>

     <h3 style="color:black;"><u>Employee hompage:</u></h3>
    <img src="/media/12.jpg" height="400px" width="90%">
    <br><br>





</span><br><br>
<h4>You can access the full website through my github link.(Or if you find any difficulty in accessing it through github i can even make you see my website by making my machine as temporary server.)</h4>

    <br><br>
    <h2>Thank you</h2>


  </center>
 <br><br>
{% endblock %}